img{
    width: 5%;
    display: flex;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../mtprojecct/images/images\ \(12\).jpeg') no-repeat center center/cover;
    color:gold;
    text-align: center;
    min-height: 100vh;
    background-size: cover;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 100px;
    position: sticky;
    top: 0%;
}

 

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: yellow;
}
    


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}


.content {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 700px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.content img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.content h2 {
  color: #f8e8c0;
  margin-top: 10px;
}

.content p {
  text-align: justify;
  line-height: 1.6;
}