body {
    font-family: Arial, sans-serif;
    background: url('../jomss/images/d0827bf5-067b-4fcf-9167-1db7774c16b1.jpg') no-repeat center center/cover;
    color:gold;
    text-align: center;
    min-height: 100vh;
    background-size: cover;
}



.About{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-top: 9%;
    padding: 20px;
    background-color: rgb(178, 184, 189);
    box-shadow: 5px 5px rgb(95, 255, 210);
}

.imageinside img{
    flex-wrap: wrap;
    width: 300px;
    height:auto;
    border-radius: 10px;
    margin-left: 20px auto;
    justify-self: left;
    box-shadow: 10px 10px 15px black;

}


.text{
  flex: 1;
  margin-left: 1%;
}

.text h1{
  font-size: 31px;
  font-weight: bold;
  color: aqua;
}

.text h2{
  font-size: 14px;
  color: black;
  margin: 10px 0;
}

.text p{
  font-size: 16px;
  color: cadetblue;
  line-height: 1.15;
  margin-bottom: 20px;
}


.FB img{
  height: 35;
  width: 35;
}







img{
    width: 5%;
    
}

 
*{
    margin: 0%;
    padding:0% ;
    box-sizing: border-box;
}




.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    padding: 10px 100px;
    position: sticky;
    top: 0;
  }
  
  .logo {
    height: 50%;
    display: flex;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-left: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar ul li a:hover {
    color: lightblue;
  }

