img{
    width: 5%;
    
}

 
*{
    margin: 0%;
    padding:0% ;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: url('../jomss/images/0eyX5JIO.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(247, 254, 45);
  text-align: center;
  min-height: 100vh;

}


.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  padding: 10px 100px;
  position: sticky;
  top: 0;
}

.logo {
  height: 50%;
  display: flex;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: lightblue;
}


.content {
  text-align: center;
  padding: 20px 20px;
}

.content h1 {
  margin-top: 20px;
  font-size: 28px;
  color: #f8e8c0;
}

.photo {
  height: auto;
  width: 400px;
  border-radius: 10px;
  margin: 20px 0;
  
}

p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  text-align: justify;
}