img{
    width: 5%;
    
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../jomss/images/15916216228_19e41b9533_o.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(247, 254, 45);

}

/* Navigation bar */
.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  position: sticky;
  top: 0;
}

.logo {
  height: 50%;
  display: flex;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: rgb(243, 245, 86);
}

.content {
  text-align: center;
  padding: 30px 20px;
}

.content h1 {
  margin-top: 20px;
  font-size: 28px;
  color: #f8e8c0;
}

.photo {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px 0;
  
}

p {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  text-align: justify;
}

